[submodule "ms-demo-golang"]
    path = ms-demo-golang
    url = https://github.com/inadarei/microservices-workspace-ms-demo-golang.git
    branch = master
[submodule "ms-demo-node"]
    path = ms-demo-node
    url = https://github.com/inadarei/microservices-workspace-ms-demo-node.git
    branch = master
